---
import BaseLayout from '@layouts/BaseLayout.astro';
import WhitelistFullForm from '@components/sections/lp/WhitelistFullForm.astro';
import { site } from '@data/site';

const title = 'Meta Ads Whitelist Form';
const description = 'Apply for a premium Meta Ads Whitelist account. Fill in the complete form and our team will contact you via WhatsApp.';
const url = `${site.url}/en/form-meta-whitelist`;
---
<BaseLayout
  title={title}
  description={description}
  active="layanan"
>
  <Fragment slot="head">
    <link rel="canonical" href={url} />
    <!-- Meta Pixel Code -->
    <script is:inline>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1341980327384883');
      fbq('track', 'PageView');
    </script>
    <!-- End Meta Pixel Code -->
  </Fragment>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1341980327384883&ev=PageView&noscript=1"
  /></noscript>

  <div style="padding-top:48px;padding-bottom:64px;">
    <WhitelistFullForm platform="meta" />
  </div>
</BaseLayout>
