/* custom css */
.breadcrumb-item+.breadcrumb-item::before {
	content: ".";
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #ffffff;
    line-height: 12px;
    padding-right: 14px;
}

.breadcrumb-item span {
    color: #fff;
    font-weight: 600;
}

.main-menu ul .has-dropdown .has-dropdown a:after {
    display: none !important;
}

/* Hide cookie banner popup */
#hs-eu-cookie-confirmation,
#hs-banner-parent,
[id*="hs-eu-cookie"],
[id*="cookieBanner"] {
    display: none !important;
}