.elementor-5229 .elementor-element.elementor-element-1feb82b.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-widget-nav-menu .elementor-nav-menu .elementor-item{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-text );fill:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );fill:var( --e-global-color-accent );}.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:var( --e-global-color-accent );}.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
					.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after{border-color:var( --e-global-color-accent );}.elementor-widget-nav-menu{--e-nav-menu-divider-color:var( --e-global-color-text );}.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-5229 .elementor-element.elementor-element-4df3da8 > .elementor-widget-container{margin:0px -100px -30px -100px;padding:0px 0px 0px 0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu .elementor-item{font-family:"Montserrat", Sans-serif;font-size:112px;font-weight:500;line-height:26px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item{color:#333333;fill:#333333;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item:focus{color:#F0882D;fill:#F0882D;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#F0882D;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-underline .elementor-item:after,
					 .elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-overline .elementor-item:before,
					 .elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-double-line .elementor-item:before,
					 .elementor-5229 .elementor-element.elementor-element-4df3da8 .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8{--e-nav-menu-horizontal-menu-item-margin:calc( 40px / 2 );}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:40px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-5229 .elementor-element.elementor-element-7bc0ef6 .elementor-button{background-color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:600;line-height:18px;border-radius:100px 100px 100px 100px;padding:14px 29px 14px 29px;}.elementor-5229 .elementor-element.elementor-element-7bc0ef6{width:auto;max-width:auto;}#elementor-popup-modal-5229 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-5229{justify-content:center;align-items:center;}#elementor-popup-modal-5229 .dialog-widget-content{box-shadow:2px 52px 30px 3px rgba(0, 0, 0, 0.12);}@media(max-width:1290px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu .elementor-item{font-size:12px;}.elementor-5229 .elementor-element.elementor-element-4df3da8{--e-nav-menu-horizontal-menu-item-margin:calc( 17px / 2 );}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:17px;}.elementor-5229 .elementor-element.elementor-element-7bc0ef6 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:1024px){.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-5229 .elementor-element.elementor-element-4df3da8 > .elementor-widget-container{margin:0px 0px 30px 0px;}#elementor-popup-modal-5229 .dialog-message{width:100vw;padding:50px 0px 50px 0px;}}@media(max-width:767px){.elementor-5229 .elementor-element.elementor-element-7f5b9d2{padding:50px 0px 65px 0px;}.elementor-5229 .elementor-element.elementor-element-1feb82b > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-widget-image .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-5229 .elementor-element.elementor-element-dcd6c36{text-align:start;}.elementor-5229 .elementor-element.elementor-element-ba63d7d{text-align:start;}.elementor-5229 .elementor-element.elementor-element-f68266e{text-align:end;}.elementor-5229 .elementor-element.elementor-element-4df3da8 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu .elementor-item{font-size:18px;}.elementor-5229 .elementor-element.elementor-element-4df3da8{--e-nav-menu-horizontal-menu-item-margin:calc( 40px / 2 );}.elementor-5229 .elementor-element.elementor-element-4df3da8 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:40px;}#elementor-popup-modal-5229 .dialog-widget-content{margin:55px 0px 0px 0px;}#elementor-popup-modal-5229 .dialog-message{padding:85px 0px 10px 0px;}}/* Start custom CSS for image, class: .elementor-element-dcd6c36 */.elementor-5229 .elementor-element.elementor-element-dcd6c36 {
    position: absolute;
    left: -60px;
    top: 0px;
    transform: scale(.5);
}
@media (min-width: 769px) {
.elementor-5229 .elementor-element.elementor-element-dcd6c36 {
    left: -120px;

}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-ba63d7d */.elementor-5229 .elementor-element.elementor-element-ba63d7d {
    position: absolute;
    left: -70px;
    bottom: 90px;
    transform: scale(.9);
}
@media (min-width: 769px) {
.elementor-5229 .elementor-element.elementor-element-ba63d7d {
    left: -220px;
    bottom: 90px;
}
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-f68266e */.elementor-5229 .elementor-element.elementor-element-f68266e {
    position: absolute;
    right: -40px;
    top: 100px;
    transform: scale(.7);
}
@media (min-width: 769px) {
.elementor-5229 .elementor-element.elementor-element-f68266e {
    right: -150px;
    top: 10px;
}
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-4df3da8 */a.elementor-item:hover {
    color: red!important;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-7bc0ef6 */.elementor-5229 .elementor-element.elementor-element-7bc0ef6 {
  border-radius: 100rem;
  padding: 0px;
  border: solid 1.62px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #F0882D, #FFBD4A);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

a.elementor-item:hover {
	 background: linear-gradient(90deg, #F0882D
 0%, #FFBD4A
 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600!important;
}/* End custom CSS */
/* Start custom CSS */#elementor-popup-modal-5229 .gradient-title {
	 background: linear-gradient(90deg, #F0882D
 0%, #FFBD4A
 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600!important;
}
#elementor-popup-modal-5229 {
    margin: 0 auto!important;
    transform: translateY(-70px);
}



#nav-icon {
    z-index: 99999;
}/* End custom CSS */